body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Lora', serif;
}
.content {
    text-align: center;
}
.map-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width:100%; 
    font-size: 38px;
    color: #004964;
}
.map-container iframe {
    width: 1000px;
    height: 500px;
    max-width: 100%;
    
    border: none; /* Removes iframe border */
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
header img {
    height: 80px;
}


nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}


.logo {
    font-size: 1.5em;
}



.menu-icon {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}



.hero {
    position: relative;
    height: 100vh;
    background-image: url('images/Full.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 10px; /* Offset for fixed header */
}
.hero img {
    width: 100%; /* Adjust this value as needed */
    height: 750px; /* Adjust this value as needed */
    object-fit: cover;
}


  

.text-overlay {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
   
}

.text-overlay h1 {
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
}

.text-overlay p {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
    margin-bottom: 50px;
}
.text-overlay .button {
    
    display: inline-block;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.text-overlay .button:hover {
    background-color: #0056b3;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    margin-top: 60px; /* Offset for fixed header */
    background-color:#f8f8f8;
    margin:0;
}
.text-content {
    flex: 1;
    padding-right: 20px;
}
.text-content h1 {
    font-size: 48px;
    color: #004964;
}
.text-content p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #333;
}

.content{
    padding: 120px 0px;
    text-align: center;
    align-items: center;
}
.content2{
    padding: 120px 0px;
    text-align: center;
    align-items: center;
    background-color:#f8f8f8;
}
.text-content2{
    flex: 1;
    padding-right: 200px;
    padding-left: 200px;
}
.text-content2 h1 {
    font-size: 48px;
    color: #004964;
}
.text-content2 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #333;
}

.slideshow-container {
    flex: 1;
    position: relative;
    max-width: 100%;
    margin-top: 60px;
}

.slides {
    display: none;
}
.slides img {
    width: 100%;
    height: 710px;
    object-fit: cover;
    border-radius: 20%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
}

.main-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.thumbnail-images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail-images img {
    max-width: 100px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.thumbnail-images img:hover {
    border-color: #007BFF;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #003764;
    color: white;
    border: none;
    border-radius: 5px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Adjust to fit content size */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Image Style */
.modal-content img {
    max-width: 100%; /* Ensure image does not exceed modal width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center image horizontally */
}

/* Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}
.box-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box-icon {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;background-color: #faf9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.box-icon:hover{
    background-color: #d9e5f9;
    
}

.box-icon img {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 10px;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.popup-title {
    text-align: center;
    margin-bottom: 10px; /* Add some space between the title and the content */
}

/* Justify the content inside the popup */
.popup-content {
    text-align: justify;
}

.popup.active {
    display: block;
}
.popup img {
max-width: 100%;
border-radius: 10px;
margin-top: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

footer {
    background-color: rgb(44, 100, 152);
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
}

.footer-section {
    margin: 5px 30px 0px 30px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-decoration: underline;
}

.footer-section p {
    margin: 10px 0;
    text-align: left;
}

.footer-icons {
    text-align: center;
    margin-top: 10px;
}

.footer-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.footer-icons img {
    width: 30px;
    height: 30px;
}
.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contact-info img {
    margin-right: 10px;
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
    }
    
    nav a {
        padding: 10px;
        border-top: 1px solid #010101;
    }
    
    .menu-icon {
        display: block;
    }
    
    
    .hero {
        height: 80vh;
        margin-top: 10px; /* Offset for fixed header */
        background-image: url('images/KEPALA.jpg');
        max-width: 100%;
    }
    .hero img {
        height: auto;
    }
    .text-overlay h1 {
        font-size: 32px;
    }
    .text-overlay p {
        font-size: 18px;
    }
    .about-content {
        flex-direction: column;
        padding: 50px 20px;
        max-width: 100%;
    }
    .text-content {
        padding-right: 0;
        max-width: 100%;
    }
    .text-content h1 {
        font-size: 32px;
    }
    .text-content p {
        font-size: 16px;
    }
    .text-content2 {
        padding: 0 20px;
    }
    .text-content2 h1 {
        font-size: 32px;
    }
    .text-content2 p {
        font-size: 16px;
    }
    .slideshow-container {
        margin-top: 30px;
    }
    .slides img {
        height: 200px;
        max-width:100%;
    }
    .gallery-container {
        width: 100%;
        padding: 10px;
    }
    .main-image img {
        max-height: 200px;
    }
    .thumbnail-images img {
        max-width: 50px;
    }
    .box-icon {
        width: 150px;
        height: 150px;
    }
    .popup {
        position:fixed;
        left: 50%;
    }
    .map-container {
        padding: 0 5px; /* Adds padding on smaller screens */
    }

    .map-container iframe {
        height: 300px; /* Adjust height for smaller screens if necessary */
    }

    
    
    footer {
        padding: 0 10px;
    }
    .footer-section {
        
        text-align: justify;
        
    }
}
